# Python
__pycache__/
*.py[cod]
*.egg-info/
.venv/
venv/
*.pyc

# Env
.env
!.env.example

# Flutter
mobile/.dart_tool/
mobile/.flutter-plugins
mobile/.flutter-plugins-dependencies
mobile/build/
mobile/.packages

# Docker
uploads/

# IDE
.vscode/settings.json
.idea/
*.iml

# OS
.DS_Store
Thumbs.db
